.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.main {
  position: relative;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  z-index: 1;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.footer a {
  height: 40px;
  background: #7a98ee;
  padding: 5px;
  border-radius: 5px;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  filter: drop-shadow(2px 0px 4px #7a98ee);
}

.description a {
  color: #dd517e;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease all;
}

.description a:hover,
.description a:focus,
.description a:active {
  filter: drop-shadow(1px 0px 4px #dd517e);
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
  max-width: 600px;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.body {
  margin-top: 2em;
  max-width: 600px;
  color: #b1b1b1;
  text-align: center;
}

.more {
  font-size: 1.2em;
  text-align: center;
}

.logo {
  display: flex;
  color: black;
  font-weight: bold;
  gap: 5px;
  align-items: center;
  
}

@media (max-width: 600px) {
  .body {
    display: none;
  }
  .description {
    font-size: 1.2rem;
  }
}
